{% load static %}

<section id="hero">
    <div class="hero-text">
        <h1>Ali Farzalisoy</h1>
        <p>Cybersecurity Student | Python & Django Developer</p>
        <div class="hero-description">
        <p >Computer Engineering student focused on cybersecurity and <br> backend development. Passionate about building secure and <br> scalable systems.</p>
        </div>
        <div class="hero-buttons">
        <a href="#projects" class="hero-btn">View Projects</a>
        <a href="#contact" class="hero-btn-contact">Contact Me</a>
        </div>
    </div>

    <div class="hero-image">
        <img src="{% static 'images/heroimage.jpeg' %}" alt="Hero Image">
    </div>
</section>


</section>
